<div class="card shadow-lg">
  <div class="img-wrapper">
    <img *ngIf="property.image" src="/assets/Images/{{property.image}}" class="card-img-top" alt="...">
    <img *ngIf="!property.image" src="/assets/Images/House_default_img.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <h2 class="card-title">{{property.bhk}} BHK {{property.propertyType}}</h2>
    in {{property.name}}<strong *ngIf="property.name"> , </strong>{{property.cityName}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong>Price: </strong><span class="font-highlight">{{property.price}} USD </span>
      <strong>| Area: </strong> <span class="font-highlight">{{property.builtArea}} Sqr Feet.</span></li>
    <li class="list-group-item">{{property.furnishingType}} 
      <span *ngIf="property.furnishingType !== 'Unfurnished'">Furnished</span> 
      <strong> | </strong>
      <span *ngIf="property.readyToMove">Ready To Move</span> 
      <span *ngIf="!property.readyToMove">{{property.estPossessionOn | date}}</span> 
    </li>
    <li *ngIf="!hideIcons" class="list-group-item">
      <a routerLink="/property-detail/{{property.id}}" class="card-link btn btn-primary" role="button"><i class="far fa-edit"></i></a>
      <a href="#" class="card-link btn btn-primary" role="button"><i class="far fa-address-book"></i></a>
    </li>
  </ul>
</div>

